/*red #dc3545 Dark gray #343a40  gray #6c757d  light white #f8f9fa*/
body {
    background: red;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.content-block {
    flex: 1;
}

.introduction {
    background-image: url('Assets/coverBackground.webp');
    background-size: 100% 100%;     
    height: 100vh; /* Set background to user screen size */
}


.introduction .nameTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
    padding-bottom: 10%;  
    line-height: 1;
} 




.about {
    background-color: purple;
    height: 500px;
}

.skills {
    background-color: yellow;
    height: 500px;
}

.projects {
    background-color: blue;
    height: 500px;
}

.contact {
    background-color: green;
    height: 500px;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    background-color: blue;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* Horizonal and Vertical Placement*/
    text-align: center; 
}


#sidebar #name {
	display: flex;
	height: 35vh;
	flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    padding-bottom: 50px;
}

#sidebar #name img {
    width: 10em; 
    height: 10em; 
    object-fit: cover;
    background-color: #343a40;
    border-radius: 50%; 
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 11px 20px 10px 20px;
    background: white;
}


#sidebar ul.components {
    border-bottom: 1px solid #47748b;
	display: flex;
	height: 65vh;
	flex-direction: column;
    background-color: black; /* TODO: REMOVE */
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color:white;
    background:#dc3545;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #dc3545;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #dc3545;
}

/* .menu-text {
   color:white;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   top: 10px;
   left:5px;
} */


.menu-btn {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
}
.menu-btn:focus {
    box-shadow: 0 0 0 2px transparent; 
}
.menu-btn:hover {
    transform: scale(1.1); 
}

/* .menu-header {
    width:100%;
    height:64px;
    background: #0092D1;
} */




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    flex-grow: 1;
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
   
}