/*red #dc3545 Dark gray #343a40  gray #6c757d  light white #f8f9fa*/
html {
    scroll-behavior: smooth;
}

body {
    background: red;
}

::selection {
    color: white;
    background-color: #dc3545; 
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    flex-grow: 1;
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.introduction {
    position: relative;
    height: 100vh;
}

.introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Assets/coverBackground.webp');
    background-size: 100% 100%;
    filter: brightness(30%);
    z-index: -1;
}


/*TODO: Reset naming convention and pulling from html, dont use .nametop, look to use ::Before */
.introductionName {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-weight: bold;
    padding-bottom: 30%;
    line-height: 1;
    /* Ensure stacking context for z-index, bring forward with 1*/
    position: relative; 
    z-index: 1; 
}








.about {
    background-color: white;
    height: 100vh;
}


.skills {
    background-color: yellow;
    height: 100vh;
}

.projects {
    background-color: blue;
    height: 100vh;
}

.contact {
    background-color: green;
    height: 100vh;
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    background-color: blue;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* Horizonal and Vertical Placement*/
    text-align: center; 
    padding-top: 10%;
}


#sidebar #name {
	display: flex;
	height: 35vh;
	flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    padding-bottom: 50px;
}

#sidebar #name img {
    width: 10em; 
    height: 10em; 
    object-fit: cover;
    background-color: #343a40;
    border-radius: 50%; 
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 11px 20px 10px 20px;
    background: white;
}


#sidebar ul.components {
    border-bottom: 1px solid #47748b;
	display: flex;
	height: 65vh;
	flex-direction: column;
    background-color: black; /* TODO: REMOVE */
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color:white;
    background: #dc3545;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #dc3545;
    background: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #dc3545;
}

.menu-btn {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
}
.menu-btn:focus {
    box-shadow: 0 0 0 2px transparent; 
}
.menu-btn:hover {
    transform: scale(1.1); 
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
   
}